<h1>Editing Apikey</h1>

<%= render 'form', apikey: @apikey %>
<br />
<button onclick="genApiKey()" class="btn btn-info">Regenerate API Keys</button>
<%= link_to 'Show', @apikey, class: "btn btn-primary" %>
<br /><br />
<%= link_to '<< Back', apikeys_path, class: "btn btn-primary" %>
