<h1>Editing data_value</h1>

<%= render 'form' %>
<br />
<%= link_to 'Show', [@data_value.server, @data_value], class: "btn btn-primary" %>
<br /><br />
<%= link_to '<<Back', server_data_values_path(@data_value.server), class: "btn btn-primary" %>
