<h1>Editing Server</h1>

<%= render 'form', server: @server %>
<br />
<%= link_to 'Show', @server, class: "btn btn-primary" %>
<br />
<br />
<%= link_to 'Back', servers_path, class: "btn btn-default" %>
